Repository openzipkin/zipkin, pull requests merged in 2019-05, with the labels that each got.

#2398 WIP: attempts support of Elasticsearch 7.x
  zipkin-server/src/test/java/zipkin2/elasticsearch/ZipkinElasticsearchStorageAutoConfigurationTest.java
  zipkin-storage/elasticsearch/README.md
  zipkin-storage/elasticsearch/src/main/java/zipkin2/elasticsearch/ElasticsearchSpanConsumer.java
  zipkin-storage/elasticsearch/src/main/java/zipkin2/elasticsearch/ElasticsearchStorage.java
  zipkin-storage/elasticsearch/src/main/java/zipkin2/elasticsearch/EnsureIndexTemplate.java
  zipkin-storage/elasticsearch/src/main/java/zipkin2/elasticsearch/IndexTemplates.java
  zipkin-storage/elasticsearch/src/main/java/zipkin2/elasticsearch/VersionSpecificTemplates.java
  zipkin-storage/elasticsearch/src/main/java/zipkin2/elasticsearch/internal/HttpBulkIndexer.java
  zipkin-storage/elasticsearch/src/main/java/zipkin2/elasticsearch/internal/IndexNameFormatter.java
  zipkin-storage/elasticsearch/src/test/java/zipkin2/elasticsearch/ElasticsearchSpanConsumerTest.java
  zipkin-storage/elasticsearch/src/test/java/zipkin2/elasticsearch/ElasticsearchStorageTest.java
  zipkin-storage/elasticsearch/src/test/java/zipkin2/elasticsearch/InternalForTests.java
  zipkin-storage/elasticsearch/src/test/java/zipkin2/elasticsearch/VersionSpecificTemplatesTest.java
  zipkin-storage/elasticsearch/src/test/java/zipkin2/elasticsearch/integration/ElasticsearchStorageRule.java
  zipkin-storage/elasticsearch/src/test/java/zipkin2/elasticsearch/integration/ITElasticsearchStorageV7.java
  zipkin-storage/elasticsearch/src/test/java/zipkin2/elasticsearch/internal/IndexNameFormatterTest.java
Labels: elasticsearch

#2560 Verifies ES 5.x with unit tests as opposed to integration tests
  zipkin-storage/elasticsearch/src/main/java/zipkin2/elasticsearch/VersionSpecificTemplates.java
  zipkin-storage/elasticsearch/src/test/java/zipkin2/elasticsearch/VersionSpecificTemplatesTest.java
  zipkin-storage/elasticsearch/src/test/java/zipkin2/elasticsearch/integration/ITElasticsearchStorageV5.java
Labels: elasticsearch, techdebt

#2562 Conditionally wraps in Elasticsearch index template based on version
  zipkin-storage/elasticsearch/src/main/java/zipkin2/elasticsearch/ElasticsearchSpanConsumer.java
  zipkin-storage/elasticsearch/src/main/java/zipkin2/elasticsearch/ElasticsearchStorage.java
  zipkin-storage/elasticsearch/src/main/java/zipkin2/elasticsearch/VersionSpecificTemplates.java
  zipkin-storage/elasticsearch/src/main/java/zipkin2/elasticsearch/internal/HttpBulkIndexer.java
  zipkin-storage/elasticsearch/src/test/java/zipkin2/elasticsearch/VersionSpecificTemplatesTest.java
Labels: elasticsearch, techdebt

#2564 Removes Kafka 0.8 support (KAFKA_ZOOKEEPER)
  .travis.yml
  zipkin-autoconfigure/collector-kafka08/README.md
  zipkin-autoconfigure/collector-kafka08/pom.xml
  zipkin-autoconfigure/collector-kafka08/src/main/java/zipkin2/autoconfigure/collector/kafka08/KafkaZooKeeperSetCondition.java
  zipkin-autoconfigure/collector-kafka08/src/main/java/zipkin2/autoconfigure/collector/kafka08/ZipkinKafka08CollectorAutoConfiguration.java
  zipkin-autoconfigure/collector-kafka08/src/main/java/zipkin2/autoconfigure/collector/kafka08/ZipkinKafkaCollectorProperties.java
  zipkin-autoconfigure/collector-kafka08/src/main/resources/META-INF/spring.factories
  zipkin-autoconfigure/collector-kafka08/src/main/resources/zipkin-server-kafka08.yml
  zipkin-autoconfigure/collector-kafka08/src/test/java/zipkin2/autoconfigure/collector/kafka08/Access.java
  zipkin-autoconfigure/collector-kafka08/src/test/java/zipkin2/autoconfigure/collector/kafka08/ZipkinKafka08CollectorAutoConfigurationTest.java
  zipkin-autoconfigure/collector-kafka08/src/test/java/zipkin2/collector/kafka/v1/NestedPropertyOverrideTest.java
  zipkin-autoconfigure/pom.xml
  zipkin-collector/kafka/README.md
  zipkin-collector/kafka08/README.md
  zipkin-collector/kafka08/pom.xml
  zipkin-collector/kafka08/src/main/java/zipkin2/collector/kafka08/KafkaCollector.java
  zipkin-collector/kafka08/src/main/java/zipkin2/collector/kafka08/KafkaStreamProcessor.java
  zipkin-collector/kafka08/src/test/java/zipkin2/collector/kafka08/ITKafkaCollector.java
  zipkin-collector/kafka08/src/test/java/zipkin2/collector/kafka08/KafkaTestGraph.java
  zipkin-collector/kafka08/src/test/resources/log4j.properties
  zipkin-collector/kafka08/src/test/resources/log4j2.properties
  zipkin-collector/pom.xml
  zipkin-server/README.md
Labels: kafka, techdebt

#2568 Fixes accidental license headers on vendored javascript libraries
  LICENSE
  NOTICE
  pom.xml
  zipkin-ui/libs/chosen/chosen.css
  zipkin-ui/libs/dagre-d3/js/dagre-d3.js
  zipkin-ui/libs/dagre-d3/js/dagre-d3.min.js
Labels: chore

#2529 Improve MiniTimeline
  zipkin-lens/package-lock.json
  zipkin-lens/package.json
  zipkin-lens/scss/components/_mini-timeline-graph.scss
  zipkin-lens/scss/components/_mini-timeline-label.scss
  zipkin-lens/scss/components/_mini-timeline.scss
  zipkin-lens/scss/custom/_rc-slider.scss
  zipkin-lens/scss/main.scss
  zipkin-lens/src/components/MiniTimeline/MiniTimelineGraph.js
  zipkin-lens/src/components/MiniTimeline/MiniTimelineGraph.test.js
  zipkin-lens/src/components/MiniTimeline/MiniTimelineLabel.js
  zipkin-lens/src/components/MiniTimeline/MiniTimelineLabel.test.js
  zipkin-lens/src/components/MiniTimeline/MiniTimelineSlider.js
  zipkin-lens/src/components/MiniTimeline/MiniTimelineSlider.test.js
  zipkin-lens/src/components/MiniTimeline/MiniTimelineTimeMarkers.js
  zipkin-lens/src/components/MiniTimeline/MiniTimelineTimeMarkers.test.js
  zipkin-lens/src/components/MiniTimeline/index.js
  zipkin-lens/src/components/MiniTimeline/index.test.js
  zipkin-lens/src/components/MiniTimeline/util.js
  zipkin-lens/src/components/MiniTimeline/util.test.js
Labels: enhancement, feedback-needed, ui

#2580 Makes it an error to store during assembly of a call
  benchmarks/src/main/java/zipkin2/elasticsearch/internal/BulkRequestBenchmarks.java
  zipkin-server/src/main/java/zipkin2/server/internal/elasticsearch/ZipkinElasticsearchStorageProperties.java
  zipkin-server/src/main/java/zipkin2/server/internal/throttle/ThrottledCall.java
  zipkin-server/src/main/java/zipkin2/server/internal/throttle/ThrottledStorageComponent.java
  zipkin-server/src/test/kotlin/zipkin2/server/internal/throttle/ThrottledCallTest.kt
  zipkin-server/src/test/kotlin/zipkin2/server/internal/throttle/ThrottledStorageComponentTest.kt
  zipkin-storage/elasticsearch/src/main/java/zipkin2/elasticsearch/internal/BulkCallBuilder.java
  zipkin-storage/elasticsearch/src/main/java/zipkin2/elasticsearch/internal/client/HttpCall.java
  zipkin-storage/elasticsearch/src/test/java/zipkin2/elasticsearch/InternalForTests.java
  zipkin-storage/elasticsearch/src/test/java/zipkin2/elasticsearch/internal/client/HttpCallTest.java
  zipkin-tests/src/main/java/zipkin2/storage/ITSpanStore.java
  zipkin/src/main/java/zipkin2/storage/InMemoryStorage.java
  zipkin/src/test/java/zipkin2/storage/InMemoryStorageTest.java
Labels: techdebt
